.container {
    display  : flex;
    font-size: 1.5rem;
    color    : var(--text);
}

.dashboard {
    position: relative;
    width   : 100%;
    z-index : 0;
}

.header {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    width           : 100%;
    height          : 8rem;
    padding         : 1rem 2rem;
    background-color: white;
}

.header>:nth-child(1) {
    font-weight: 500;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.icons {
    display: flex;
    gap: 1.2rem;
}

.icon {
    background-color: rgba(111, 106, 248, 0.5);
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 50%;
    display: flex;
    align-items: center;justify-content: center;
}


.profile {
    display        : flex;
    align-items    : center;
    justify-content: center;
    gap            : 2rem;
}

.profile>img {
    border-radius: 50%;
    border       : 2px solid #5A48CF;
    height       : 45px;
    width        : 45px;
}

.details {
    display        : flex;
    flex-direction : column;
    align-items    : start;
    justify-content: center;
    gap            : .7rem;
}

.details>:nth-child(1) {
    font-weight: 500;
}

.details>:nth-child(2) {
    font-weight: 300;
    font-size: 1.2rem;
    color    : var(--blue);
}