.wrapper {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    gap            : 7px;
    width          : 100%;
    padding        : 0px 40px;
}

.container {
    background-color: var(--black);
    border-radius   : 12px;
    display         : flex;
    flex-direction  : column;
    gap             : 10px;
    height          : 100%;
    margin-top      : 40px;
    padding         : 20px 20px;
    width           : 47.2%;
}

.title {
    font-size  : 12px;
    font-weight: 500;
}

.header {
    display        : flex;
    font-size      : 12px;
    justify-content: space-between;
}

.sidebar {
    position: fixed;
    top     : 0;
    left    : 0;
}

.title {
    font-size  : 20px;
    font-weight: 500;
}

.header>div {
    align-items    : center;
    display        : flex;
    gap            : 10px;
    justify-content: center;
}