.container {
    align-items     : center;
    background-color: #FAFAFA;
    display         : flex;
    flex-direction  : column;
    gap             : 7rem;
    height          : 100vh;
    justify-content : start;
    overflow        : hidden;
    overflow-y      : scroll;
    scrollbar-width : none;
    width           : 28rem;
}

.logo>img {
    margin-top: 3rem;
    width     : 12rem;
}

.menu {
    background-color: #FAFAFA;
    color           : var(--secondary-text);
    display         : flex;
    flex-direction  : column;
    font-family     : 'Poppins', sans-serif;
    font-size       : 1.4rem;
    font-weight     : 400;
    padding-left    : 1rem;
    padding-right   : 1rem;
    width           : 100%;
}

.item {
    transition: all 300ms;
}

.item:hover {
    color: var(--blue);
}