:root {
  --purple        : #AA82FE;
  --blue          : #6F6AF8;
  --text          : #ffffff;
  --black: #1A1E1F;
  --secondary-text: #858585;
  --bg: #070E0E;
}

html {
  font-size: 62.5%;
}

body {
  margin : 0;
  padding: 0;
  overflow: hidden;

}

* {
  box-sizing: border-box;
}

#dashboard {
  background-color: #070E0E;
  color           : var(--text);
  font-family     : 'Poppins', sans-serif;
  width           : 100vw;
  
  
}

/* scrollbar */
::-webkit-scrollbar {
  height: 5px;
  width : 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  width           : 5px;
}