:root {
  --purple        : #AA82FE;
  --blue          : #6656FE;
  --text          : #ffffff;
  --black         : #141414;
  --secondary-text: #858585;
  --bg            : #111111;
}

html {
  font-size: 90%;
}

body {
  margin          : 0;
  padding         : 0;
  overflow        : hidden;
  background-color: var(--bg);
}

* {
  box-sizing: border-box;
}

#dashboard {
  color      : var(--text);
  font-family: 'Poppins', sans-serif;
  width      : 100vw;
}

/* scrollbar */
::-webkit-scrollbar {
  height: 5px;
  width : 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  width           : 5px;
}